<h1>Home</h1>



<div id="contact">
  <h2>Contact Us</h2>
  <%= simple_form_for Contact.new, html: { novalidate: true }, remote: true do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <div class="row">
        <div class="col-xs-12">
          <%= f.input :name, label: false, placeholder: "Name" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.input :email, label: false, placeholder: "Email"  %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.input :phone_number, label: false, placeholder: "Phone Number"  %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.input :message, label: false, placeholder: "Message"  %>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, :name => 'commit', :id=>"person_create_form_submit" %>
    </div>
  <% end %>
</div>

