<section class="main-header">
  <div class="hero">
    <%= image_tag 'logo.png', class: 'img-responsive' %>
    <br>
    <hr>
    <h1>Brothers, Fathers<br>Sons and Friends</h1>
    <h3>Men making a difference in their community.</h3>
    <hr>
    <br>
    <a href="#next"><p>Learn More</p><i class="fa fa-angle-down fa-3x"></i></a>
  </div>
</section>

<section class="newsletter" id="next">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>What Is A Man? Newsletter</h3>
        <p>Subscribe to our newsletter for the latest updates on What Is A Man?</p>
        <div class="col-sm-6 col-sm-offset-3">
          <%= simple_form_for Newsletter.new, html: { novalidate: true }, remote: true do |f| %>
            <div class="col-sm-4">
              <%= f.input :name, label: false, placeholder: "Name", input_html: {class: 'form-control'} %>
            </div>
            <div class="col-sm-4">
              <%= f.input :email, label: false, placeholder: "Email", input_html: {class: 'form-control'} %>
            </div>
            <div class="col-sm-4">
              <%= f.button :submit, :name => 'commit', :id=>"person_create_form_submit", class: 'btn btn-default'  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <h1>What is Men of Doral bbq challenge?</h1>
          <hr>
          <div class="col-sm-8 col-sm-offset-2">
            <p>M2M is a group of Brothers, Fathers, Sons and Friends joining together to make a difference in their community through men. Using the power of community and communication, we provide literature and fellowship as a way of combating the issue of broken families impacting our community and our country.</p>
          </div>
        </div>
        <div class="space50"></div>
        <div class="row stats">
          <div class="col-sm-2 col-sm-offset-1">
            <%= image_tag 'handcuffs.png', class: 'img-responsive' %>
            <h1>85% of youth in prison</h1>
          </div>
          <div class="col-sm-2">
            <%= image_tag 'behave.png', class: 'img-responsive' %>
            <h1>85% of children with behavioral disorders</h1>
          </div>
          <div class="col-sm-2">
            <%= image_tag 'drugs.png', class: 'img-responsive' %>
            <h1>75% of adolescents in substance-abuse treatment centers</h1>
          </div>
          <div class="col-sm-2">
            <%= image_tag 'broke.png', class: 'img-responsive' %>
            <h1>71% of all high school dropouts</h1>
          </div>
          <div class="col-sm-2">
            <%= image_tag 'jail.png', class: 'img-responsive' %>
            <h1>70% of adults serving long-term prison sentences</h1>
          </div>
        </div>
      </div>
    </div>
  </div>



</section>



<section>
  <h1>Home</h1>
  <div id="contact">
    <div class="contact_form_hidden" style="display:none;">
      <h2>Thanks</h2>
    </div>
    <div class="contact_form_shown">
      <h2>Contact Us</h2>
      <%= simple_form_for Contact.new, html: { novalidate: true }, remote: true do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <div class="row">
            <div class="col-xs-12">
              <%= f.input :name, label: false, placeholder: "Name" %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <%= f.input :email, label: false, placeholder: "Email"  %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <%= f.input :phone_number, label: false, placeholder: "Phone Number"  %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <%= f.input :message, label: false, placeholder: "Message"  %>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <%= f.button :submit, :name => 'commit', :id=>"person_create_form_submit"  %>
        </div>
      <% end %>
    </div>
  </div>
</section>




<%= link_to 'New Team registration', new_team_registration_path %>


<script type="text/javascript">
  $('#person_create_form_submit').closest('form').on('ajax:success', function() {
    $(".contact_form_shown").hide(200)
    $(".contact_form_hidden").show(200)
    console.log('ajax:success!');
  })
</script>
