<%= simple_form_for TeamRegistration.new do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= f.input :team_name, label: false, placeholder: "Team Name", input_html: {class: 'form-control'} %>
      <br>
      <%= f.input :captain_name, label: false, placeholder: "Captain Name", input_html: {class: 'form-control'} %>
      <br>
      <%= f.input :captain_email, label: false, placeholder: "Captain Email", input_html: {class: 'form-control'} %>
      <br>
      <p>How Many Team Members?</p>
      <%= f.input :team_members, collection: 1..4, as: :radio_buttons, label: false %>
      <br>
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type="hidden" id="stripe_pub_b" name="stripe" size="20" value="<%= ENV["stripe_public_key"] %>" />
      <div id="stripe_error_b"></div>
      <%= text_field_tag :card_number_b, nil,
                          name: nil,
                          placeholder: "Credit Card Number",
                          :class=> "form-control" %>
      <br>
      <div class="row">
        <div class="col-sm-6">
        <%= select_month nil, {add_month_numbers: true},
                              {:class=> "datepicker form-control",
                               name: nil,
                               id: "card_month_b",
                               label: false} %>
        </div>
        <div class="col-sm-3">
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15},
                               {:class=> "datepicker form-control",
                                name: nil,
                                id: "card_year_b"} %>
        </div>
        <div class="col-sm-3">
          <%= text_field_tag :card_code_b, nil, name: nil, placeholder: "CVV",class: "form-control" %>
        </div>
      </div>
      <br>
      <a id="stripe-submit_b" class="btn btn-lg btn-primary btn-block form-signin-btn btn-default" onclick="submitStripeB();">Submit</a>
      <br>
    </div>
  </div>
<% end %>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
  var stripeResponseHandlerB = function(status, response) {
  var token;
  var form = $('#new_team_registration');

    if (response.error) {
      $("#stripe_error_b").text(response.error.message);
      $("#stripe-submit_b").prop("disabled", false).removeClass('btn-warning disabled').text('Submit Again');
    } else {
      token = response.id;
      console.log(token);
      form.append($("<input type=\"hidden\" name=\"stripeToken\" />").val(token));

      form.submit();
    }
  };

    function submitStripeB(){
    Stripe.setPublishableKey($("#stripe_pub_b").val());
    var cardB = {
        number: $("#card_number_b").val(),
        cvc: $("#card_code_b").val(),
        expMonth: $("#card_month_b").val(),
        expYear: $("#card_year_b").val()
      };
    Stripe.card.createToken(cardB, stripeResponseHandlerB);
  }
</script>


<script type="text/javascript">
  // $('#stripe-submit_b').click(function(e) {
  //   $(this).addClass('btn btn-lg btn-warning disabled');
  //   $(this).text('Processing ...');
  //   $(this).prepend('<span class=\'glyphicon glyphicon-refresh glyphicon-refresh-animate\'></span>');
  // });
</script>
