<%= simple_form_for TeamRegistration.new, remote: true do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= f.input :team_name, label: false, placeholder: "Team Name", input_html: {class: 'form-control'} %>
      <br>
      <%= f.input :captain_name, label: false, placeholder: "Captain Name", input_html: {class: 'form-control'} %>
      <br>
      <%= f.input :captain_email, label: false, placeholder: "Captain Email", input_html: {class: 'form-control'} %>
      <br>
      <p>How Many Team Members?</p>
      <%= f.input :team_members, collection: 1..4, as: :radio_buttons, label: false %>
      <br>
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type="hidden" id="stripe_pub" name="stripe" size="20" value="<%= ENV["stripe_public_key"] %>" />
      <%= text_field_tag :card_number, nil,
                          name: nil,
                          placeholder: "Credit Card Number",
                          :class=> "form-control" %>
      <br>
      <div class="row">
        <div class="col-sm-6">
        <%= select_month nil, {add_month_numbers: true},
                              {:class=> "datepicker form-control",
                               name: nil,
                               id: "card_month",
                               label: false} %>
        </div>
        <div class="col-sm-3">
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15},
                               {:class=> "datepicker form-control",
                                name: nil,
                                id: "card_year"} %>
        </div>
        <div class="col-sm-3">
          <%= text_field_tag :card_code, nil, name: nil, placeholder: "CVV",class: "form-control" %>
        </div>
      </div>
      <br>
      <a id="stripe-submit" class="btn btn-lg btn-primary btn-block form-signin-btn btn-default" onclick="submitStripe();">Submit</a>
      <br>
    </div>
  </div>
<% end %>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
  var stripeResponseHandler = function(status, response) {
  var token;
  var form = $('#stripe-submit').closest('form');

    if (response.error) {
      $(".modal-body #stripe_error").text(response.error.message);
      $(".modal-body #stripe-submit").prop("disabled", false).removeClass('btn-warning disabled').text('Submit Again');
    } else {
      token = response.id;
      console.log(token);
      form.append($("<input type=\"hidden\" name=\"stripeToken\" />").val(token));

      form.get(0).submit();
    }
  };


    function submitStripe(){
    Stripe.setPublishableKey($("#stripe_pub").val());
    var card = {
        number: $("#card_number").val(),
        cvc: $("#card_code").val(),
        expMonth: $("#card_month").val(),
        expYear: $("#card_year").val()
      };
    Stripe.card.createToken(card, stripeResponseHandler);
  }
</script>


<script type="text/javascript">
  $('#stripe-submit').click(function(e) {
    $(this).addClass('btn btn-lg btn-warning disabled');
    $(this).text('Processing ...');
    $(this).prepend('<span class=\'glyphicon glyphicon-refresh glyphicon-refresh-animate\'></span>');
  });
</script>
