<%= image_tag 'logo.png', class: 'logos' %>
<br>
<%= simple_form_for AdvertistmentPackage.new do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= f.input :company, label: false, placeholder: "Company Name", input_html: {class: 'form-control'} %>
      <br>
      <div class="row">
        <div class="col-sm-6 name">
          <%= f.input :first_name, label: false, placeholder: "First Name", input_html: {class: 'form-control'} %>
        </div>
        <div class="col-sm-6">
          <%= f.input :last_name, label: false, placeholder: "Last Name", input_html: {class: 'form-control'} %>
        </div>
      </div>
      <br>
      <%= f.input :email, label: false, placeholder: "Email", input_html: {class: 'form-control'} %>
      <br>
      <%= f.input :phone, label: false, placeholder: "Phone Number", input_html: {class: 'form-control'} %>
      <br>
      <%#= f.input :package, label: "Packages",collection: AdvertistmentPackage::PACKAGES %>
      <input type="hidden" value="" name="advertistment_package[package]" id="advertistment_package_package" >
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type="hidden" id="stripe_pub" name="stripe" size="20" value="<%= ENV["stripe_public_key"] %>" />
      <div id="stripe_error_a"></div>
      <%= text_field_tag :card_number_a, nil,
                          id: 'card_number_a',
                          name: nil,
                          placeholder: "Credit Card Number",
                          :class=> "form-control" %>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <%= select_month nil, {add_month_numbers: true},
                                {:class=> "datepicker form-control",
                                 name: nil,
                                 id: "card_month_a",

                                 label: false} %>
                                 <br>
        </div>
        <div class="col-sm-3">
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15},
                                {:class=> "datepicker form-control",
                                 name: nil,
                                 id: "card_year_a"} %>
                                 <br>
        </div>
        <div class="col-sm-3">
          <%= text_field_tag :card_code_a, nil, name: nil, placeholder: "CVV",class: "form-control" %>
        </div>
      </div>
      <br>
      <a id="stripe-submit-a" class="btn btn-lg btn-primary btn-block form-signin-btn btn-default" onclick="submitStripeA();">Submit</a>
      <br>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  var stripeResponseHandler = function(status, response) {
  var token;
  var form = $('#new_advertistment_package');

    if (response.error) {
      $("#stripe_error_a").text(response.error.message);
      $("#stripe-submit_a").prop("disabled", false).removeClass('btn-warning disabled').text('Submit Again');
    } else {
      token = response.id;
      console.log(token);
      form.append($("<input type=\"hidden\" name=\"stripeToken\" />").val(token));

      form.submit();
    }
  };


    function submitStripeA(){
    Stripe.setPublishableKey($("#stripe_pub").val());
    var card = {
        number: $("#card_number_a").val(),
        cvc: $("#card_code_a").val(),
        expMonth: $("#card_month_a").val(),
        expYear: $("#card_year_a").val()
      };
    Stripe.card.createToken(card, stripeResponseHandler);
  }
</script>


<script type="text/javascript">
  $('#stripe-submit_a').click(function(e) {
    $(this).addClass('btn btn-lg btn-warning disabled');
    $(this).text('Processing ...');
    $(this).prepend('<span class=\'glyphicon glyphicon-refresh glyphicon-refresh-animate\'></span>');
  });
</script>
