<p id="notice"><%= notice %></p>

<h1>Listing Advertistment Packages</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Package</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @advertistment_packages.each do |advertistment_package| %>
      <tr>
        <td><%= advertistment_package.company %></td>
        <td><%= advertistment_package.first_name %></td>
        <td><%= advertistment_package.last_name %></td>
        <td><%= advertistment_package.email %></td>
        <td><%= advertistment_package.phone %></td>
        <td><%= advertistment_package.package %></td>
        <td><%= link_to 'Show', advertistment_package %></td>
        <td><%= link_to 'Edit', edit_advertistment_package_path(advertistment_package) %></td>
        <td><%= link_to 'Destroy', advertistment_package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advertistment package', new_advertistment_package_path %>
