<h1>BBQ WHAT IS A MAN</h1>
<h3>Advertisement Package Email</h3>
<p>Company: <%=@advertisment_package.company%></p>
<p>Contact: <%=@advertisment_package.first_name%> <%=@advertisment_package.last_name%></p>
<p>Email: <%=@advertisment_package.email%></p>
<p>Phone: <%=@advertisment_package.phone%></p>
<p>Package Type: <%=@advertisment_package.package%></p>






